VH_MESH_WSS_DOMAIN=mesh.example
VH_MESH_WSS_HTTPS_PORT=443
VH_MESH_WSS_CERTS_DIR=./certs
VH_RELAY_DAEMON_TOKEN=replace-with-secret
VH_RELAY_ALLOWED_ORIGINS=https://app.mesh.example
VH_RELAY_PEER_AUTH_MODE=private_network_allowlist
VH_RELAY_PEER_ALLOWLIST=private
VH_RELAY_HTTP_RATE_LIMIT_PER_MIN=1200
VH_RELAY_WS_BYTES_PER_SEC=1000000
VH_RELAY_MAX_ACTIVE_CONNECTIONS=5000
